@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');


@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,body{
    height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
}



*{
  outline: none;
}

.lilita-one-regular {
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rubik-mono-one-regular {
    font-family: "Rubik Mono One", serif;
    font-weight: 400;
    font-style: normal;
  }
    
  .poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 530;
    font-style: normal;
  }
  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }
  .cursor {
    position: fixed;
    left: 0;
    top: 0;
    width: 25px;
    opacity: 50%;
    height: 25px;
    background-color: #028FCC;
    border-radius: 50%;
    pointer-events: none;
    /* mix-blend-mode: difference; */
    will-change: transform;
  }


  
.custom-swiper .swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
}


/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

